<div>
  <ul class="lista">
    <li class="px-2">
      <a href="https://github.com/chesquinio"
        ><img
          src="../../../assets/github.png"
          height="40px"
          width="40px"
          alt=""
      /></a>
    </li>
    <li class="px-2">
      <a href="https://www.facebook.com/francis.willener/"
        ><img
          src="../../../assets/facebook.png"
          height="40px"
          width="40px"
          alt=""
      /></a>
    </li>
    <li class="px-2">
      <a href="https://twitter.com/FWillener"
        ><img
          src="../../../assets/twitter.png"
          height="40px"
          width="40px"
          alt=""
      /></a>
    </li>
    <li class="px-2">
      <a href="https://www.instagram.com/franciswillener/?hl=es-la"
        ><img
          src="../../../assets/instagram.png"
          height="40px"
          width="40px"
          alt=""
      /></a>
    </li>
    <li class="px-2">
      <a href="https://www.linkedin.com/in/francis-willener-38369320b/"
        ><img
          src="../../../assets/linkedin.png"
          height="40px"
          width="40px"
          alt=""
      /></a>
    </li>
  </ul>
</div>
