<div class="container">
  <div class="row">
    <h2 class="row-h2">Experiencia Laboral</h2>
    <div class="col-md-10">
      <ul class="row-ul">
        <li>
          <h4>Experiencia 1</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            numquam in dolore saepe dicta inventore id praesentium dolorum nihil
            quia cum quisquam ad non suscipit nisi, dolores sint consequatur.
            Iusto.
          </p>
        </li>
        <li>
          <h4>Experiencia 2</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            perferendis ut commodi repellendus nulla delectus quos labore
            voluptatem maxime ab sequi modi, soluta autem dolore aspernatur
            repudiandae numquam, molestias saepe.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
