<div class="container" *ngIf="skill">
    <div class="row page">
        <div class="form">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-outline form-white mb-4">
                    <label for="nombreE">Editar Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
                </div>
                <div class="form-outline form-white mb-4">
                    <label for="descripcionE">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
