<div class="contenedor">
  <h2>Skills</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let skill of skill">
      <div class="col-md-12">
        <circle-progress
          [title]="skill.nombre"
          [imageSrc]="''"
          [showUnits]="false"
          [showSubtitle]="false"
          [percent]="skill.porcentaje"
          [radius]="100"
          [outerStrokeWidth]="14"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#F98B29'"
          [innerStrokeColor]="'#FFA24F'"
          [animation]="true"
          [animationDuration]="150"
        ></circle-progress>
      </div>
      <div class="col-md-6 d-inline p-3">
        <button
          *ngIf="isLogged"
          class="btn btn-light"
          routerLink="/editskill/{{ skill.id }}"
          href=""
        >
          <i class="bx bx-pencil"></i>
        </button>
      </div>
      <div class="col-md-6 d-inline p-3">
        <button
          *ngIf="isLogged"
          class="btn btn-light"
          (click)="delete(skill.id)"
          href=""
        >
          <i class="bx bx-trash"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button
        type="button"
        class="btn btn-light"
        routerLink="/nuevaskill"
        *ngIf="isLogged"
      >
        Nueva Skill
      </button>
    </div>
  </div>
</div>
