<div class="container">
    <div class="row page">
        <div class="form">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-outline form-white mb-4">
                    <label for="nombreE">Titulo</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu" required>
                </div>
                <div class="form-outline form-white mb-4">
                    <label for="descripcionE">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="descripcionEdu" required>
                </div>
                <button class="btn btn-primary">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>
