<div class="container py-4">
  <div class="row contenedor">
    <div class="i col-xs-12 col-sm-6 col-md-3 col-lg-2">
      <img
        class="img-fluid imagen"
        src="{{persona.img}}"
        alt="Foto Perfil"
      />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
      <h2 class="m-3">{{persona.nombre}} {{persona.apellido}}</h2>
      <h4>Full Stack Web Developer</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <span>
        <h1>Acerca de mi</h1>
        <p>{{persona.descripcion}}</p>
      </span>
    </div>
  </div>
  <div class="row boton">
    <div>
      <button
        type="button"
        class="btn btn-light"
        routerLink="/editabout/1"
        *ngIf="isLogged"
      >
        Editar Persona
      </button>
    </div>
  </div>
</div>
