<div class="container py-5">
  <div class="row">
    <div class="i col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img
        class="img-fluid imagen"
        src="https://cdn-icons-png.flaticon.com/512/53/53133.png"
        alt="Foto Perfil"
      />
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h2 class="m-3">{{persona.nombre}} {{persona.apellido}}</h2>
      <h4>Full Stack Web Developer</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <span>
        <h1>Acerca de mi</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquam
          illum nisi quia ipsam deleniti soluta voluptatem deserunt modi? Odit
          iure saepe qui harum nobis sapiente corrupti doloribus molestias
          assumenda!
        </p>
      </span>
    </div>
  </div>
</div>
