h4 {
    color: #808080;
}

.imagen {
    border-radius: 15px;
}

@media (max-width:575px) {
    h1 {
        margin: 40px 0px 10px 20px
    }
    h2 {
        text-align: center;
        padding-top: 30px;
    }
    h4 {
        text-align: center;
    }
    p {
        margin-left: 20px;
    }
    .i {
        position: relative;
        height:200px;
        width:200px;
        margin: auto;
    }
    
}