<div class="container">
  <h2 class="container-h2">Proyectos</h2>
  <div class="row">
    <div class="col-md-6 p-5">
      <h4 class="pb-2">Proyecto 1</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ab
        quae est voluptatibus earum blanditiis? Eligendi porro dolore corporis,
        repudiandae dolorum quaerat rem tempore minima fugit dolorem ducimus
        sunt quas?
      </p>
    </div>
    <div class="col-md-6 p-5">
        <h4 class="pb-2">Proyecto 2</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ab
            quae est voluptatibus earum blanditiis? Eligendi porro dolore corporis,
            repudiandae dolorum quaerat rem tempore minima fugit dolorem ducimus
            sunt quas?
        </p>
    </div>
  </div>
</div>
