<div class="container">
  <h2 class="container-h2">Proyectos</h2>
  <div class="row">
    <div class="col-md-6 p-5 container-div" *ngFor="let Proyecto of proyecto">
      <h4 class="pb-2">{{ Proyecto.titulo }}</h4>
      <p>
        {{ Proyecto.descripcion }}
      </p>
      <div>
        <button
          *ngIf="isLogged"
          class="btn btn-light"
          routerLink="/editproyect/{{ Proyecto.id }}"
          href=""
        >
          <i class="bx bx-pencil"></i> Editar
        </button>
        <button
          *ngIf="isLogged"
          class="btn btn-light"
          (click)="delete(Proyecto.id)"
          href=""
        >
          <i class="bx bx-trash"></i> Borrar
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 boton">
      <button
        type="button"
        class="btn btn-light"
        routerLink="/nuevoproyect"
        *ngIf="isLogged"
      >
        Nuevo Proyecto
      </button>
    </div>
  </div>
</div>
